<p-toolbar>
    <div class="p-toolbar-group-left">
        <p-calendar [(ngModel)]="date1" [locale]="es" dateFormat="dd/mm/yy" inputId="spanish"></p-calendar>
        <button pButton type="button" icon="pi pi-search" iconPos="left" (click)="loadRecord()" ></button>

    </div>
</p-toolbar>

<h1>SERVIÇOS NFE NA DATA {{nRecord.date | date:'dd/MM/yyyy'}}</h1>

<p-table [value]="states" responsiveLayout="scroll">
    <ng-template pTemplate="header">
        <tr>
            <th>Autorizador</th>
            <th>Autorização</th>
            <th>Retorno Autorização</th>
            <th>Inutilização</th>
            <th>Consulta Protocolo</th>
            <th>Status Serviço</th>
            <th>Consulta Cadastro</th>
            <th>Recepção Evento</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-state>
        <tr>
            <td>{{state.name}}</td>
            <td *ngFor="let service of state.services">
                <span *ngIf="service.status">{{service.status}}</span>
                <span *ngIf="!service.status">-</span>
            </td>
        </tr>
    </ng-template>
</p-table>